* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background: rgba(223, 215, 215, 0.945);
    min-width: 320px;
}

header {
    background-color: #eac926;
    padding: 15px;
  }

  .article-header {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    outline: #1259c3 1px solid;
    display: flex;
    flex-wrap: wrap;
  }

  .logo-mercado-libre {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }

  .article-barra {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .div-header-p {
    outline: #1259c3 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  header p {
    text-align: center;
  }

  p {
    font-size: 12px;
  }

  .lupa {
      background: #fff;
      display: inline-block;
      padding: 1px;
  }

  nav {
    display: none;
  }

  ul {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      margin-bottom: 20px;
  }

  li {
      list-style: none;
  }

  li a {
      color: #000;
      text-decoration: none;
  }

  .div-burger-menu {
    display: flex;
    justify-content: center;
  }

  .burger-menu {
      background: #1259c3;
      padding: 8px 10px;
      border-radius: 6px;
      margin: 10px 0 5px;
  }

  .burger-menu i {
      color: #fff;
  }





  .ult-visita,
  .ofertas{
      display: flex;
      flex-wrap: wrap;
  }
  
  .precio{
      font-size: 18px;
      width: 30%;
  }
  
  .descuento{
      width: 70%;
  }
  
  .descuento,
  .descripcion{
      font-size: 16px;
      font-weight: normal;
  }
  
  h3,
  .descripcion{
      color: #666;
  }
  
  .descripcion{
      display: none;
      margin-top: 20px;
  }
  
  .home-bannner {
      width: 100%;
  }




  
  main{
      width: 90%;
      margin: 0 auto;
  }
  
  main section article {
      background-color: #fff;    
      margin: 10px 0px;
  }
  
  main section article img {
      width: 100%;
  }
  
  main section article i,
  .descuento {
      color: #39b54a;
  }
  
  main section article i {
      display: block;
      font-size: 16px;
      padding: 5px;
      width: 30px;
      height: 30px;
      border: 1px solid #39b54a;
      background-color: #FFF;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      top: -15px;
  }
  
  main section h3 {
      margin: 20px 0px;
  }
  
  article .main-article{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      border-top: 1px solid #ebebeb;
      position: relative;
      padding: 15px;
  }







  footer {
    text-align: center;
    padding: 15px;
  }

  footer h4 {
    margin-bottom: 5px;
  }

  footer p {
    margin-top: 0%;
  }

 .footer-icono i {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #1259c3;
    font-size: 2em;
 }







@media (min-width: 361px){

   nav {
     display: block;
    }
  
  .descripcion {
      display: inline-block;
    }
 
   .burger-menu {
      display: none;
    }

    main section article .descripcion{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section .productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section .productos article{
        width: 45%;
    }

    .precio,
    .descuento{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section .productos article{
        width: 22%;
    }
}